/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.clock-title,
.time-date-container {
  font: 300 40px 'Russo One', sans-serif;
}

.time-date-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 600px;
	height: 180px;
	padding: 5px;
	background-color: #000;
	color: #14d1d1;
	border: 1px solid #fff;
	border-radius: 5px;
}


.time-date-container p {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.tabs {
	margin-top: 50px;
	width: 200px;
	height: 200px;
	color: #ddd;
	border-radius: 10px;
	background-color: #970f0f;
}

.tab-headers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	border-radius: 10px;
	/* border: 2px solid #000; */
}

.tab-headers h1 {
	font-size: 1.2rem;
	padding: 10px;
	border-radius: 10px;
	/* background-color: #970f0f; */
}
.tabs article {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	background-color: #970f0f;
	border: 3px solid #000;
	border-radius: 5px;
	border-top: none;
	height: 200px;
}

.tab-headers h1:first-child {
	/* border: 2px solid #000;
	box-shadow: 2px 2px 1px #000; */
}



